name: CI
on:
  pull_request:
jobs:
  ciJvms:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        java: [ '8', '11', '17', '21', '25' ]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 100
      - name: Fetch tags
        run: git fetch --depth=100 origin +refs/tags/*:refs/tags/*
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'sbt'
      - name: sbt publishLocal ${{ github.ref }}
        run: ./sbt publishLocal

  ci:
    if: always()
    runs-on: ubuntu-24.04
    needs: [ ciJvms ]
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
